// Write your overrides
.v-navigation-drawer{
  width: 220px !important;
}
.pa-6{
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  padding-right: 10px !important;
  padding-left: 5px !important;
}

.v-main{
  --v-layout-left: 220px !important;
}
