// Write your overrides
.v-navigation-drawer{
  width: 220px !important;
}




@media (max-width: 1279px) {
  .v-main {
    padding-left: 0px !important;
  }
  .pa-6{
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
  }
}
@media (min-width: 1279px) {
  .v-main {
    padding-left: 225px !important;
  }
  .pa-6{
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    padding-right: 24px !important;
    padding-left: 0px !important;
  }
}
